.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.text-container {
  position: absolute;
  top: 20%;
  left: 35%;
  text-align: center;
  transform: translate(-45%, -50%);

  font-family: 'Azkia';
  font-size: 8rem;
  color: white;
  text-shadow: gray 8px 8px 8px;
}

.inline1 {
  line-height:0;
  margin: -100px 0px 0px 600px;
}

.inline2 {
  font-weight: 700;
}

.inline3 {
  text-align: center;
}

.inline4 {
  font-size: 18px;
  margin-left: 300px;
  margin-top: 40px;
}

/* about-us */

.second-image-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.second-text-container {
  position: absolute;
  text-align: left;
  top: 125%; /* Надо будет исправить и добавить position: relative */
  left: 72%;
  max-width: 25%;

  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  color: white;
  text-indent: 20px;

}

/* catalogue */

.catalogue-img-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.catalogue-img-container {
  position: relative;
}

.our-catalogue-text {
  position: absolute;
  top: 20%;
  left: 32%;
  text-align: center;


  font-family: 'Azkia';
  font-size: 12rem;
  color: white;
}


.download-catalogue-text {
  position: absolute;
  top: 47%;
  left: 38%;
  text-align: center;


  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: white;
}

.download-catalogue-button {
  position: absolute;
  top: 45%;
  left: 58%;

  font-size: 38px;
  border-radius: 12px;

  cursor: pointer;
  background-color: red;
  color: white;

  width: 12rem;
  height: 4rem;

}

.catalogue-names {
  position: absolute;
  top: 59%;
  left: 3%;

  color:white;
  font-size: 20px;
}

/* arteco1 */

.arteco1-img-container {
  position: relative;
}

.arteco1-img-container img{
  width: 100%;
  height: 100vh;
  object-fit: cover;

}

.arteco1-left-up-image {
  position: absolute;
  top: 5%;
  left: 8%;
}

.arteco1-left-up-image img {
  width: 60%;
  height: 50%;
}

.arteco1-left-down-image {
  position: absolute;
  top: 62%;
  left: 8%;
}

.arteco1-left-down-image img {
  width: 29%;
  height: 20%;

}

.arteco1-middle-image {
  position: absolute;
  top: 48%;
  left: 32%;
}

.arteco1-middle-image img {
  width: 70%;
  height: 70%;
}

.arteco1-right-down-image {
  position: absolute;
  top: 65%;
  left: 80%;
}

.arteco1-right-down-image img {
  width: 60%;
  height: 60%;
}

.arteco1-table {
  position: absolute;
  top: 15%;
  left: 60%;
}

.arteco1-table td, th {
  font-size: 20px;
  padding: 25px;
  border: 2px solid white;

}

/* arteco 7 */

.arteco7-img-container {
  position: relative;
}

.arteco7-img-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


.arteco7-first-image {
  position: absolute;
  top: 1%;
  left: 8%;
}

.arteco7-first-image img {
  width: 70%;
  height: 70%;
}

.arteco7-second-image {
  position: absolute;
  top: 8%;
  left: 41%;
}

.arteco7-second-image img {
  width: 50%;
  height: 50%;
}

.arteco7-third-image {
  position: absolute;
  top: 53%;
  left: 1%;
}

.arteco7-third-image img {
  width: 80%;
  height: 50%;
}

.arteco7-fourth-image {
  position: absolute;
  top: 63%;
  left: 72%;

}

.arteco7-fourth-image img {
  width: 80%;
  height: 80%;
}

.arteco7-table {
  position: absolute;
  top: 15%;
  left: 65%;
}

.arteco7-table td, th {
  font-size: 16px;
  padding: 25px;
  border: 2px solid white;

}

/* 6 page Klondike */

.klondike-img-container {
  position: relative;
}

.klondike-img-container img{
  width: 100%;
  height: 100vh;
  object-fit: cover;

}

.klondike-left-up-image {
  position: absolute;
  top: 7%;
  left: 2%;
}

.klondike-left-up-image img {
  width: 70%;
  height: 70%;
}

.klondike-left-down-image {
  position: absolute;
  top: 70%;
  left: 1%;
}

.klondike-left-down-image img {
  width: 55%;
  height: 55%;

}

.klondike-middle-image {
  position: absolute;
  top: 48%;
  left: 35%;
}

.klondike-middle-image img {
  width: 100%;
  height: 100%;
}

.klondike-right-down-image {
  position: absolute;
  top: 65%;
  left: 76%;
}

.klondike-right-down-image img {
  width: 80%;
  height: 80%;
}

.klondike-table {
  position: absolute;
  top: 15%;
  left: 57%;
}

.klondike-table td, th {
  font-size: 20px;
  padding: 25px;
  border: 2px solid white;

}

/* Meteore 8 */



.meteore8-table-container td{
  border-width: 15px;
  border-style: solid;
  border-collapse: collapse;
  border-color: black;
}

.meteore8-img-container {
  position: relative;
}

.meteore8-img-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


.meteore8-first-image {
  position: absolute;
  top: 3%;
  left: 6%;
}

.meteore8-first-image img {
  width: 40%;
  height: 40%;
}

.meteore8-second-image {
  position: absolute;
  top: 4%;
  left: 40%;
}

.meteore8-second-image img {
  width: 40%;
  height: 50%;
}

.meteore8-third-image {
  position: absolute;
  top: 44%;
  left: 5%;
}

.meteore8-third-image img {
  width: 70%;
  height: 50%;
}

.meteore8-fourth-image {
  position: absolute;
  top: 65%;
  left: 72%;

}

.meteore8-fourth-image img {
  width: 80%;
  height: 80%;
}

.meteore8-table {
  position: absolute;
  top: 15%;
  left: 64%;
}

.meteore8-table td, th {
  font-size: 16px;
  padding: 20px;
  border: 2px solid white;

}

/* polistof */

.polistof-img-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.polistof-img-container {
  position: relative;
}


.polistof-left-up-image {
  position: absolute;
  top: 1%;
  left: 6%;
}

.polistof-left-up-image img {
  width: 80%;
  height: 80%;
}

.polistof-left-down-image {
  position: absolute;
  top: 51%;
  left: 6%;
}

.polistof-left-down-image img {
  width: 60%;
  height: 60%;
}

.polistof-right-down-image {
  position: absolute;
  top: 53%;
  left: 63%;
}

.polistof-right-down-image img {
  width: 80%;
  height: 80%;
}


.polistof-table {
  position: absolute;
  top: 2%;
  left: 58%;
}

.polistof-table td, th {
  font-size: 16px;
  padding: 20px;
  border: 2px solid white;

}
/* sabula2 */

.sabula2-img-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.sabula2-img-container {
  position: relative;
}

.sabula2-first-image {
  position: absolute;
  top: 3%;
  left: 6%;
}

.sabula2-first-image img {
  width: 40%;
  height: 40%;
}

.sabula2-second-image {
  position: absolute;
  top: 2%;
  left: 40%;
}

.sabula2-second-image img {
  width: 40%;
  height: 50%;
}

.sabula2-third-image {
  position: absolute;
  top: 47%;
  left: 28%;
}

.sabula2-third-image img {
  width: 50%;
  height: 50%;
}

.sabula2-fourth-image {
  position: absolute;
  top: 63%;
  left: 72%;

}

.sabula2-fourth-image img {
  width: 80%;
  height: 80%;
}

.sabula2-fifth-image {
  position: absolute;
  top:39%;
  left: 3%;
}

.sabula2-fifth-image img {
  width: 60%;
  height: 60%;
}

.sabula2-table {
  position: absolute;
  top: 25%;
  left: 68%;
}

.sabula2-table td, th {
  font-size: 20px;
  padding: 20px;
  border: 2px solid white;
}
/* sabulador */

.sabulador-img-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.sabulador-img-container {
  position: relative;
}

.sabulador-first-image {
  position: absolute;
  top: 15%;
  left: 67%;
}

.sabulador-first-image img {
  width: 90%;
  height: 90%;
}

.sabulador-second-image {
  position: absolute;
  top: 1%;
  left: 8%;
}

.sabulador-second-image img {
  width: 50%;
  height: 50%;
}

.sabulador-third-image {
  position: absolute;
  top: 52%;
  left: 8%;
}

.sabulador-third-image img {
  width: 50%;
  height: 50%;
}

.sabulador-table {
  position: absolute;
  top: 70%;
  left: 68%;
}

.sabulador-table td, th {
  font-size: 18px;
  padding: 20px;
  border: 2px solid white;
}
/* valpaintE */

.valpaintE-img-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.valpaintE-img-container {
  position: relative;
}

.valpaintE-first-image {
  position: absolute;
  top: 2%;
  left: 38%;
}

.valpaintE-first-image img {
  width: 52%;
  height: 52%;
}

.valpaintE-second-image {
  position: absolute;
  top: 1%;
  left: 3%;
}

.valpaintE-second-image img {
  width: 35%;
  height: 35%;
}

.valpaintE-third-image {
  position: absolute;
  top: 40%;
  left: 4%;
}

.valpaintE-third-image img {
  width: 60%;
  height: 60%;
}

.valpaintE-fourth-image {
  position: absolute;
  top: 8%;
  left: 68%;

}

.valpaintE-fourth-image img {
  width: 85%;
  height: 85%;
}

.valpaintE-table {
  position: absolute;
  top: 62%;
  left: 64%;
}

.valpaintE-table td, th {
  font-size: 18px;
  padding: 20px;
  border: 2px solid white;
}
/* valpaintI */

.valpaintI-img-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.valpaintI-img-container {
  position: relative;
}

.valpaintI-first-image {
  position: absolute;
  top: 2%;
  left: 5%;
}

.valpaintI-first-image img {
  width: 80%;
  height: 80%;
}

.valpaintI-second-image {
  position: absolute;
  top: 54%;
  left: 10%;
}

.valpaintI-second-image img {
  width: 45%;
  height: 45%;
}

.valpaintI-third-image {
  position: absolute;
  top: 56%;
  left: 63%;
}

.valpaintI-third-image img {
  width: 40%;
  height: 40%;
}

.valpaintI-fourth-image {
  position: absolute;
  top: 56%;
  left: 75%;

}

.valpaintI-fourth-image img {
  width: 47%;
  height: 47%;
}

.valpaintI-table {
  position: absolute;
  top: 15%;
  left: 60%;
}

.valpaintI-table td, th {
  font-size: 20px;
  padding: 20px;
  border: 2px solid white;
}
/* valrenna */

.valrenna-img-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.valrenna-img-container {
  position: relative;
}

.valrenna-first-image {
  position: absolute;
  top: 2%;
  left: 5%;
}

.valrenna-first-image img {
  width: 60%;
  height: 60%;
}

.valrenna-second-image {
  position: absolute;
  top: 39%;
  left: 5%;
}

.valrenna-second-image img {
  width: 80%;
  height: 80%;
}

.valrenna-third-image {
  position: absolute;
  top: 8%;
  left: 67%;
}

.valrenna-third-image img {
  width: 85%;
  height: 85%;
}

.valrenna-fourth-image {
  position: absolute;
  top: 2%;
  left: 39%;
}

.valrenna-fourth-image img {
  width: 45%;
  height: 45%;
}

.valrenna-table {
  position: absolute;
  top: 66%;
  left: 66%;
}

.valrenna-table td, th {
  font-size: 20px;
  padding: 20px;
  border: 2px solid white;
}
/* valrenna 2 */

.valrenna2-img-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.valrenna2-img-container {
  position: relative;
}

.valrenna2-first-image {
  position: absolute;
  top: 53%;
  left: 34%;
}

.valrenna2-first-image img {
  width: 80%;
  height: 80%;
}

.valrenna2-second-image {
  position: absolute;
  top: 6%;
  left: 3%;
}

.valrenna2-second-image img {
  width: 40%;
  height: 40%;
}

.valrenna2-third-image {
  position: absolute;
  top: 65%;
  left: 4%;
}

.valrenna2-third-image img {
  width: 45%;
  height: 45%;
}

.valrenna2-fourth-image {
  position: absolute;
  top: 65%;
  left: 75%;
}

.valrenna2-fourth-image img {
  width: 80%;
  height: 80%;
}

.valrenna2-table {
  position: absolute;
  top: 8%;
  left: 55%;
}

.valrenna2-table td, th {
  font-size: 18px;
  padding: 20px;
  border: 2px solid white;
}
/* valsetin */

.valsetin-img-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.valsetin-img-container {
  position: relative;
}

.valsetin-first-image {
  position: absolute;
  top: 63%;
  left: 67%;
}

.valsetin-first-image img {
  width: 78%;
  height: 78%;
}

.valsetin-second-image {
  position: absolute;
  top: 2%;
  left: 8%;
}

.valsetin-second-image img {
  width: 43%;
  height: 43%;
}

.valsetin-third-image {
  position: absolute;
  top: 45%;
  left: 29%;
}

.valsetin-third-image img {
  width: 65%;
  height: 65%;
}

.valsetin-fourth-image {
  position: absolute;
  top: 3%;
  left: 40%;
}

.valsetin-fourth-image img {
  width: 40%;
  height: 40%;
}

.valsetin-fifth-image {
  position: absolute;
  top:49%;
  left: 1%;
}

.valsetin-fifth-image img {
  width: 50%;
  height: 50%;
}

.valsetin-table {
  position: absolute;
  top: 8%;
  left: 65%;
}

.valsetin-table td, th {
  font-size: 18px;
  padding: 20px;
  border: 2px solid white;
}
/* services*/
.services-top {
  position: relative;
  height:60vh;
  background-color: #c6e1e5;
}

.services-bottom {
  position: relative;
  height: 30vh;
  background-color: #7a6243;
  border-bottom: 5px solid white;
}

.services-top-text {
  position: absolute;
  top: 4%;
  left: 43%;
  text-align: center;


  font-family: 'Azkia';
  font-size: 8rem;
  color: white;
  text-shadow: gray 8px 8px 8px;
}

.services-bottom-text {
  position: absolute;
  top:18%;
  left:13%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: white;
  text-indent: 30px;
}

.logo-oval {
  position: absolute;
  top: 45%;
  left:39%;
  width: 435px;
  height: 200px;
  border-radius: 50%;
  background-position-x: center;
  background-position-y: center;
  background-size: 130%;
  background-image: url(images/logo.svg); /* Optional */
  scale: 120%;
}

.logo-oval::after {
  content: "";
  position: absolute;
  top:-5%;
  left:-2%;
  width: 430px;
  height: 200px;
  border: 10px solid white;
  border-radius: 50%;
}

.image-oval-1 {
  position: absolute;
  top: 20%;
  left:58%;
  width: 435px;
  height: 430px;
  border-radius: 50%;
  background-position-x: center;
  background-position-y: center;
  background-size: 130%;
  background-image: url(images/services/2.png); /* Optional */
  scale: 80%;
}

.image-oval-1::after {
  content: "";
  position: absolute;
  top:-2%;
  left:-2%;
  width: 430px;
  height: 430px;
  border: 10px solid white;
  border-radius: 50%;
}
.image-oval-2 {
  position: absolute;
  top: 20%;
  left:18%;
  width: 435px;
  height: 430px;
  border-radius: 50%;
  background-position-x: center;
  background-position-y: center;
  background-size: 130%;
  background-image: url(images/services/1.png); /* Optional */
  scale: 80%;
}

.image-oval-2::after {
  content: "";
  position: absolute;
  top:-2%;
  left:-2%;
  width: 430px;
  height: 430px;
  border: 10px solid white;
  border-radius: 50%;
}
/* examples */

.examples-container {
  position: relative;
  height:90vh;
  background-color: #c6e1e5;
  border-bottom: 5px solid white;
}

.examples-image {
  position: absolute;
  width: 400px;
  height: 300px;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  scale:60%;
}

.examples-image::after {
  content: "";
  position: absolute;
  top:-7%;
  left:-5%;
  border: 20px solid white;
  width: 400px;
  height: 300px;
  border-radius: 5%;
}

.examples-image-1 {
  top:30%;
  left:5%;
  background-image: url(images/examples/1.png);
}

.examples-image-2 {
  top:30%;
  left:22%;
  background-image: url(images/examples/2.png);
}

.examples-image-3 {
  top:30%;
  left:39%;
  background-image: url(images/examples/3.png);
}

.examples-image-4 {
  top:30%;
  left:56%;
  background-image: url(images/examples/4.png);
}

.examples-image-5 {
  top:30%;
  left:73%;
  background-image: url(images/examples/5.png);
}

.examples-image-6 {
  top:60%;
  left:5%;
  background-image: url(images/examples/6.png);
}

.examples-image-7 {
  top:60%;
  left:22%;
  background-image: url(images/examples/7.png);
}

.examples-image-8 {
  top:60%;
  left:39%;
  background-image: url(images/examples/8.png);
}

.examples-image-9 {
  top:60%;
  left:56%;
  background-image: url(images/examples/9.png);
}

.examples-image-10 {
  top:60%;
  left:73%;
  background-image: url(images/examples/10.png);
}

.examples-top-text {
  position: absolute;
  top: 4%;
  left: 35%;
  text-align: center;


  font-family: 'Azkia';
  font-size: 10rem;
  color: white;
  text-shadow: gray 8px 8px 8px;
}
/* examples-2 */

.examples-2-container {
  position: relative;
  height:90vh;
  background-color: #c6e1e5;
  border-bottom: 5px solid white;
}

.examples-2-image {
  position: absolute;
  width: 400px;
  height: 600px;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  scale:60%;
}

.examples-2-image::after {
  content: "";
  position: absolute;
  top:-3%;
  left:-5%;
  border: 20px solid white;
  width: 400px;
  height: 600px;
  border-radius: 5%;
}

.examples-2-image-1 {
  top:3%;
  left:10%;
  background-image: url(images/examples/11.png);
}

.examples-2-image-2 {
  top:3%;
  left:30%;
  background-image: url(images/examples/12.png);
}

.examples-2-image-3 {
  top:3%;
  left:50%;
  background-image: url(images/examples/13.png);
}

.examples-2-image-4 {
  top:3%;
  left:70%;
  background-image: url(images/examples/14.png);
}

.examples-2-image-small {
  position: absolute;
  width: 400px;
  height: 300px;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  scale:60%;
}

.examples-2-image-small::after {
  content: "";
  position: absolute;
  top:-7%;
  left:-5%;
  border: 20px solid white;
  width: 400px;
  height: 300px;
  border-radius: 5%;
}

.examples-2-image-5 {
  top:65%;
  left:20%;
  background-image: url(images/examples/15.png);
}

.examples-2-image-6 {
  top:65%;
  left:40%;
  background-image: url(images/examples/16.png);
}

.examples-2-image-7 {
  top:65%;
  left:60%;
  background-image: url(images/services/1.png);
}
/* contacts */

.contacts-img-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.contacts-img-container {
  position: relative;
}

.contacts-top-text {
  position: absolute;
  top: 4%;
  left: 65%;
  text-align: center;


  font-family: 'Azkia';
  font-size: 8rem;
  color: white;
}

.contacts-text-container {
  position: absolute;
  text-align: left;
  top: 35%;
  left: 65%;
  max-width: 28%;

  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  color: white;
}

.contacts-logo {
  position: absolute;
  top:35%;
  left:32%;
  scale:20%;
}

