.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.text-container {
  position: absolute;
  top: 20%;
  left: 35%;
  text-align: center;
  transform: translate(-45%, -50%);

  font-family: 'Azkia';
  font-size: 8rem;
  color: white;
  text-shadow: gray 8px 8px 8px;
}

.inline1 {
  line-height:0;
  margin: -100px 0px 0px 600px;
}

.inline2 {
  font-weight: 700;
}

.inline3 {
  text-align: center;
}

.inline4 {
  margin-left: 300px;
  margin-top: 40px;
}

/* about-us */

.second-image-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.second-text-container {
  position: absolute;
  text-align: left;
  top: 125%; /* Надо будет исправить и добавить position: relative */
  left: 72%;
  max-width: 25%;

  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  color: white;

}

/* Catalog */

.catalog-img-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.catalog-img-container {
  position: relative;
}

.our-catalog-text {
  position: absolute;
  top: 20%;
  left: 32%;
  text-align: center;


  font-family: 'Azkia';
  font-size: 12rem;
  color: white;
}


.download-catalog-text {
  position: absolute;
  top: 47%;
  left: 38%;
  text-align: center;


  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: white;
}

.download-catalog-button {
  position: absolute;
  top: 45%;
  left: 58%;

  font-size: 38px;
  border-radius: 12px;

  cursor: pointer;
  background-color: red;
  color: white;

  width: 12rem;
  height: 4rem;

}

.catalog-names {
  position: absolute;
  top: 59%;
  left: 3%;

  color:white;
  font-size: 20px;
}

/* arteco1 */

.arteco1-img-container {
  position: relative;
}

.arteco1-img-container img{
  width: 100%;
  height: 100vh;
  object-fit: cover;

}

.arteco1-left-up-image {
  position: absolute;
  top: 5%;
  left: 8%;
}

.arteco1-left-up-image img {
  width: 60%;
  height: 50%;
}

.arteco1-left-down-image {
  position: absolute;
  top: 60%;
  left: 8%;
}

.arteco1-left-down-image img {
  width: 29%;
  height: 20%;

}

.arteco1-middle-image {
  position: absolute;
  top: 48%;
  left: 32%;
}

.arteco1-middle-image img {
  width: 70%;
  height: 70%;
}

.arteco1-right-down-image {
  position: absolute;
  top: 65%;
  left: 80%;
}

.arteco1-right-down-image img {
  width: 60%;
  height: 60%;
}

.arteco1-table {
  position: absolute;
  top: 15%;
  left: 60%;
}

.arteco1-table td, th {
  font-size: 20px;
  padding: 25px;
  border: 2px solid white;

}

/* arteco 7 */

.arteco7-img-container {
  position: relative;
}

.arteco7-img-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


.arteco7-first-image {
  position: absolute;
  top: 1%;
  left: 8%;
}

.arteco7-first-image img {
  width: 70%;
  height: 70%;
}

.arteco7-second-image {
  position: absolute;
  top: 8%;
  left: 41%;
}

.arteco7-second-image img {
  width: 50%;
  height: 50%;
}

.arteco7-third-image {
  position: absolute;
  top: 53%;
  left: 1%;
}

.arteco7-third-image img {
  width: 80%;
  height: 50%;
}

.arteco7-fourth-image {
  position: absolute;
  top: 63%;
  left: 72%;

}

.arteco7-fourth-image img {
  width: 80%;
  height: 80%;
}

.second-table {
  position: absolute;
  top: 15%;
  left: 65%;
}

.second-table td, th {
  font-size: 16px;
  padding: 25px;
  border: 2px solid white;

}

/* 6 page Klondike */

.klondike-img-container {
  position: relative;
}

.klondike-img-container img{
  width: 100%;
  height: 100vh;
  object-fit: cover;

}

.klondike-left-up-image {
  position: absolute;
  top: 7%;
  left: 2%;
}

.klondike-left-up-image img {
  width: 70%;
  height: 70%;
}

.klondike-left-down-image {
  position: absolute;
  top: 70%;
  left: 1%;
}

.klondike-left-down-image img {
  width: 55%;
  height: 55%;

}

.klondike-middle-image {
  position: absolute;
  top: 48%;
  left: 35%;
}

.klondike-middle-image img {
  width: 100%;
  height: 100%;
}

.klondike-right-down-image {
  position: absolute;
  top: 65%;
  left: 76%;
}

.klondike-right-down-image img {
  width: 80%;
  height: 80%;
}

.third-table {
  position: absolute;
  top: 15%;
  left: 57%;
}

.third-table td, th {
  font-size: 20px;
  padding: 25px;
  border: 2px solid white;

}

/* Meteore 8 */



.meteore8-table-container td{
  border-width: 15px;
  border-style: solid;
  border-collapse: collapse;
  border-color: black;
}

.meteore8-img-container {
  position: relative;
}

.meteore8-img-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


.meteore8-first-image {
  position: absolute;
  top: 3%;
  left: 6%;
}

.meteore8-first-image img {
  width: 40%;
  height: 40%;
}

.meteore8-second-image {
  position: absolute;
  top: 4%;
  left: 40%;
}

.meteore8-second-image img {
  width: 40%;
  height: 50%;
}

.meteore8-third-image {
  position: absolute;
  top: 44%;
  left: 5%;
}

.meteore8-third-image img {
  width: 70%;
  height: 50%;
}

.meteore8-fourth-image {
  position: absolute;
  top: 65%;
  left: 72%;

}

.meteore8-fourth-image img {
  width: 80%;
  height: 80%;
}

.fourth-table {
  position: absolute;
  top: 15%;
  left: 64%;
}

.fourth-table td, th {
  font-size: 16px;
  padding: 20px;
  border: 2px solid white;

}

/* polistof */

.polistof-img-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.polistof-img-container {
  position: relative;
}


.polistof-left-up-image {
  position: absolute;
  top: 1%;
  left: 6%;
}

.polistof-left-up-image img {
  width: 80%;
  height: 80%;
}

.polistof-left-down-image {
  position: absolute;
  top: 51%;
  left: 6%;
}

.polistof-left-down-image img {
  width: 60%;
  height: 60%;
}

.polistof-right-down-image {
  position: absolute;
  top: 53%;
  left: 63%;
}

.polistof-right-down-image img {
  width: 80%;
  height: 80%;
}


.five-table {
  position: absolute;
  top: 2%;
  left: 58%;
}

.five-table td, th {
  font-size: 16px;
  padding: 20px;
  border: 2px solid white;

}
/* sabula2 */

.sabula2-img-container img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.sabula2-img-container {
  position: relative;
}

.sabula2-first-image {
  position: absolute;
  top: 3%;
  left: 6%;
}

.sabula2-first-image img {
  width: 40%;
  height: 40%;
}

.sabula2-second-image {
  position: absolute;
  top: 4%;
  left: 40%;
}

.sabula2-second-image img {
  width: 40%;
  height: 50%;
}

.sabula2-third-image {
  position: absolute;
  top: 47%;
  left: 28%;
}

.sabula2-third-image img {
  width: 50%;
  height: 50%;
}

.sabula2-fourth-image {
  position: absolute;
  top: 63%;
  left: 72%;

}

.sabula2-fourth-image img {
  width: 80%;
  height: 80%;
}

.sabula2-fifth-image {
  position: absolute;
  top:39%;
  left: 3%;
}

.sabula2-fifth-image img {
  width: 60%;
  height: 60%;
}

.fifth-table {
  position: absolute;
  top: 25%;
  left: 68%;
}

.fifth-table td, th {
  font-size: 20px;
  padding: 20px;
  border: 2px solid white;
}